* {
  font-family: "Poppins", sans-serif;
}

:root {
  /* Create variables for colors in light mode */
  --theme-text: #161616;
  --theme-text-fixed: white;
  --theme-forground: white;
  --theme-background-searcharea: #f6f6f6;
  --theme-background-body: #f0f0f0;
  --theme-background-header: #f8f8f8;
  --theme-background-subheader: lightgray;
  --theme-background-subheader-fixed: #1E1E23;
  --theme-background-select: lightgray;
  --theme-color-secondary: #3586ff;
  --theme-shadow: rgba(0, 0, 0, 0.04);
  --theme-boxshadow-large: 0 .55rem 1rem -.2rem #0003;
  --theme-divider-fixed: darkgray;
  --theme-divider: black;

  --whitespace-content: 15%;
  --whitespace-header: 12.5%;

  --language: 'english';
  --color-scheme: dark;
}

body.dark {
  /* Create variables for colors in dark mode */
  /* --theme-text: #f0f0f0;  */
  --theme-text: #fff; /* Not sure if we want pure white for this */
  --theme-forground: #3E4253;
  --theme-background-searcharea: #353844;
  --theme-background-body: #2F313D;
  --theme-background-header: #1E1E23; /* #171717*/
  --theme-background-subheader: #1E1E23;
  --theme-background-select: #484c5c;
  --theme-shadow: #00000080;
  --theme-boxshadow-large: 0 .55rem 1rem -.2rem #00000080;
  --theme-divider: darkgray;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-color: var(--theme-background-body);
  padding: 0 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, a, br{
  color: var(--theme-text)
}

html {
  color-scheme: var(--color-scheme);
}
