.page {
    min-height: calc(100svh - var(--whitespace-header-height));
    padding: 10px var(--whitespace-content) 25px;
}
  
.container {
    background-color: var(--theme-forground);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--theme-boxshadow-large);
    margin-top: 30px; /* Adjusted margin for spacing */
}

.main h1 {
    margin-bottom: 20px;
}

.main h2 {
    margin: 45px 0 20px;
    color: var(--theme-color-secondary);
    cursor: pointer;
}